/* Estilos Globais */
body {
    background: linear-gradient(to bottom, #45a6e8, #2563eb);
    min-height: 100vh;
}

.section-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}
.logo a{
    text-decoration: none;
    text-transform: none;
}
/* Botões */
.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
}

.btn img {
    width: 1.25rem;
    height: 1.25rem;
}

.btn-github {
    background-color: #0b65ed;
}

.btn-github:hover {
    background-color: #161b22;
    transform: translateY(-2px);
}

.btn-whatsapp {
    background-color: #25d366;
}

.btn-whatsapp:hover {
    background-color: #128c7e;
    transform: translateY(-2px);
}
